<html>

<head>
  {{ content_for_header }}
  {{ 'custom.css'|  asset_url |  stylesheet_tag }}

<<<<<<< HEAD
=======
{% render 'gp-head' %}
>>>>>>> e9f0e6c4c5c56aa5e2b83f24e6294f4235fe30da
</head>

<body class="demo-{{ template.name }}">

  {%- if settings.cart_type == 'drawer' -%}
  {%- render 'cart-drawer' -%}
  {%- endif -%}
  {% sections 'header-group' %}
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>
  {% comment %} {% sections 'footer-group' %} {% endcomment %}
</body>

</html>