<html>

<head>
  {{ content_for_header }}
  {{ 'custom.css'|  asset_url |  stylesheet_tag }}
{% render 'gp-head' %}

  {% render 'shogun-head' %}
</head>

<body class="demo-{{ template.name }}"><main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main></body>

</html>