<div>
    <h3>{{ section.settings.user_name }}</h3>
</div>

{% schema  %}  
    {
        "name":"Profile",
        "settings": [
            {
                "id":"user_name",
                "type": "text",
                "label": "User name"
            },{
                "type": "image_picker",
                "id": "user_img",
                "label": "User photo"
            },{
                "type": "richtext",
                "id": "user_bio",
                "label": "User bio"
            }
        ],
        "presets": [
            {
                "category":"Profile",
                "name": "User profile"
            }
        ]
    }
{% endschema %}